.dino {
  &__path--blue {
    color: $color-neon-blue;

    @include viewport--sm {
      color: $color-default-white;
    }
  }

  @include viewport--sm {
    color: $color-default-black;
  }
}

.dino__flag {
  @include viewport--sm {
    stroke-width: 1px;
    stroke: $color-default-black;
  }
}

.dino__letter {
  color: $color-neon-blue;
}

.dino__path {
  &--red {
    color: $color-torch-red;
  }

  &--violet {
    color: $color-vivid-violet;
  }

  @include viewport--sm {
    color: $color-default-white;
  }
}
