.header {
  padding: 25px 0;

  z-index: 10000;

  &__wrapper {
    display: flex;
    padding: 0 35px;
  }

  &__logo {
    display: inline-flex;
  }

  @include viewport--sm {
    background-color: $color-default-white;
  }
}
