.main-intro {
  display: flex;
  flex-direction: column;

  height: 100%;

  h2 {
    margin: 0;

    font-weight: normal;
    font-size: 96px;
    line-height: 96px;
    color: $color-neon-blue;

    @include viewport--lg--950 {
      padding-right: 33%;
    }
  }

  p {
    display: block;

    margin: 32px 0 15px;

    font-size: 30px;
    line-height: 40px;

    @include viewport--lg--950 {
      margin-top: 17px;
    }

    @include viewport--sm {
      max-width: 350px;
    }
  }

  &__wrapper {
    position: relative;

    display: flex;
    align-items: flex-end;

    margin: auto 0;
    padding: 0 35px;

    @include viewport--lg--950 {
      display: block;
      margin: auto 0 0;
    }

    @include viewport--sm {
      margin: auto 0;
    }
  }

  &__bg {
    position: absolute;
    left: 50%;
    bottom: 0;

    transform: translateX(-50%);

    svg {
      display: block;
    }

    @include viewport--sm {
      display: none;
    }
  }

  &__dino {
    @include viewport--lg--950 {
      position: absolute;
      top: 15%;
      right: 0;
    }

    @include viewport--sm {
      position: relative;
      top: 0;
    }
  }

  &__column {
    flex: 1;
  }

  &__about {
    flex: 0 0 352px;

    @include viewport--sm {
      position: fixed;
      top: 0;
      bottom: 0;
      left: -1000px;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      padding: 10% 25%;

      opacity: 0;

      color: $color-default-white;
      background-color: $color-neon-blue;

      overflow: hidden;

      transition: $modal-transition-settings;
    }
  }

  &__about--show {
    @include viewport--sm {
      top: 0;
      right: 0;
      left: 0;

      opacity: 1;
    }
  }
}
