.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: flex-end;

  padding-bottom: 77px;

  font-size: 24px;
  line-height: 22px;
  text-align: center;

  z-index: 110000;
  background-color: $color-default-white;

  overflow: hidden;

  &__logo {
    margin-bottom: 190px;

    @include viewport--lg--950 {
      transform: scale(90%);
    }

    @include viewport--sm {
      transform: scale(80%);
    }
  }
}
